.footer {
  border-top: 1px solid #E6E6E6;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px 0;

    @media(max-width: 414px) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 76px;
    height: 40px;

    @media(max-width: 414px) {
      margin-bottom: 15px;
    }
  }

  &__copyright {
    margin: 0 15px;

    @media(max-width: 414px) {
      margin: 0 0 15px;
    }
  }
}
