.header {
  &__inner {
    display: flex;
    flex-wrap: wrap;

    padding: 20px 0;

    @media(max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__input {
    margin-right: 30px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__search {
    margin-left: auto;

    @media(max-width: 1023px) {
      margin-top: 20px;
      margin-left: 0;
    }

    form {
      @media(max-width: 767px) {
        flex-direction: column;
      }
    }
  }

  &__select {
    &.custom-select {
      @media(max-width: 1023px) {
        max-width: 500px;
      }
    }

    @media(max-width: 767px) {
      height: 44px;
    }
  }
}
