.title {
  margin: 0;

  &--h2 {
    position: relative;
    padding: 20px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -100vw;

      width: calc(100vw + 100vw);
      height: 1px;
      background: #E6E6E6;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
}
